/* tablet */
@media all and (max-width: 1000px) {



 .sns{
   width:50%;
   padding-bottom:50px;
 }


}

/* mobile*/
@media all and (max-width: 670px) {

  .sns{
    width:100%;
  }

 .top-wrapper{
  width:100%;
 }

 .main_icon{
  width:100%;
 }


}
